article.tour {
  flex: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 4px;
  perspective: 1000px;
  margin: 25px 0;
  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.05);
    }
  }
}

h2.tourHeaderTitle {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 5px 0;
  font-size: 2rem;
  padding: 20px;
}

.tourTitle {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 5px 0;
  font-size: 1.3rem;
  padding: 20px;
}

p.tourResume {
  font-size: 1.15rem;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
}
p.tourChart {
  padding: 20px;
}
div.toursImageContainer {
  overflow: hidden;
  height: 285px;
}

img.toursImage {
  width: 100%;
  transition: all 0.2s ease-out;
}

.tourHighlights {
  .subtitle {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    text-align: left;
    font-size: 1.2rem !important;
    text-align: center;
    font-weight: normal !important;
  }

  .after {
    text-align: justify;
  }
}

h3.title {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.time {
  width: 20px;
}

.title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding: 30px;
  text-align: left;
  font-size: 1.2rem;
  text-align: center;
}
