.topContainer {
  position: absolute;
  top: 0;
  width: 100%;

  .logo {
    width: 160px;

    img {
      max-width: 148px;
    }

    .black {
      display: none;
    }

    .white {
      display: block;
    }
  }
}

.fixed-nav {
  .Nav {
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.4);
    background-color: #fff !important;
    min-height: 110px;
    width: 100%;
    position: fixed;
    top: 0;

    max-height: 70px;
    padding: 10px 0;
    a {
      color: #000 !important;
      text-shadow: none;

      &:before {
        background-color: #000;
      }
    }
    .logo {
      width: 160px;
      margin-left: 25px;
    }

    .logo .black {
      display: block;
    }

    .logo .white {
      display: none;
    }

    .logo img {
      max-width: 155px !important;
    }
  }
}

.languageSwitcherContainer {
  width: 100%;
  position: relative;
  text-align: right;
  display: flex !important;
  background-color: rgba(0, 0, 0, 0.45) !important;
  align-items: center;
  z-index: 1000;
  div {
    align-items: center;
    flex: auto;
    flex: 50%;
    padding: 20px 35px 0 20px;
  }

  .contactsContainer {
    text-align: left;
    flex: 50%;
  }

  a {
    margin: 0 !important;
    padding: 10px;
    color: #fff;
    text-decoration: none !important;
  }
}
