.footerContainer {
  position: relative;
  background-color: #2b2b2b;
  color: #999;
  font-size: 12px;
  padding-top: 30px;
}

footer {
  padding: 2rem 0;
  background: var(--lightGrey);
  font-size: 1.2rem;

  .title,
  h4 {
    position: relative;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(204, 204, 204);
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 0;
  }

  .text {
    outline: none !important;
    margin: 0 0 10px;
  }
}

.footer a {
  color: black;
  text-decoration: none;
}

.terms {
  background-color: #222;
  padding: 30px;
  color: #999;
  text-align: center;
  a {
    color: #999;
  }
}
